	body{
	margin: 0;
	background-color: black;
	}

	.principal-div{
	background-color: white;
	width: 40%;
	min-height: 20vh;
	height: auto;
	margin-left: 35%;
	margin-top: 8%;
	border-radius: 22px;
	}

	.title{
	padding-top: 10%;
	margin-left: 5%;
	}

	.components-div{
	margin-top: 3%;
	height: 20px;
	}

	.input{
	width: 250px;
	height: 15px;
	margin-left: 5%;
	}

	.checado {
		background-color: red;
	}

	#efeito-desaparecer {
		/* Ponto de partida: tamanho normal e opacidade total */
		transform: scale(1);
		opacity: 1;
		transition: all 0.5s ease-in-out; /* Duração e suavização da transição */
	  
		/* Estado final: aumentado, tremido e transparente */
		animation: desaparecer 1s forwards;
	  }
	  
	  @keyframes desaparecer {
		50% {
		  transform: scale(1.2) translate(-5px, 3px); /* Aumenta e treme */
		}
		100% {
		  opacity: 0;
		  transform: scale(2) translate(-10px, 5px); /* Aumenta ainda mais e treme */
		}
	  }