<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<title>Document</title>
</head>
<body>
	<div class="principal-div">
		<h1 class="title"><strong>List de tarefas</strong></h1>
		<div class="components-div">
			<input id="task-name" type="text" class="input">
			<button class="add-button">adicionar uma nova tarefa</button>
		</div>
		<ul class="tasks"></ul>
	</div>
<script src="../js/index.js"></script>
</body>
</html>